<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="au.id.rlac.unitconverter"
    >

  <application
      android:name=".app.UnitConverterApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme"
      >

    <activity android:name=".app.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

  </application>

</manifest>
